.advantages__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  &--bottom {
    padding-top: 29px;
  }
}

.advantages__list {
  .no_list_style();
}

.advantages__unit {
  .no_indent();
  text-align: center;
}

.advantages__definition {
  .no_indent();
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.advantages__term {
  .no_indent();
  line-height: 24px;
}

.advantages__picture {
  &--hidden {
    display: none;
  }
}
