.download {
  color: #ffffff;
  background-color: #283645;
  background-image: url("../img/backgrounds/phone-intro-mobile.png"), url("../img/backgrounds/bg-mobile.jpg");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
}

.download__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.download__link {
  .no_link_style();
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.dowmnload__platforms {
  .no_list_style();
}

.download__marketplace {
  .no_link_style();
}

.download__description {
  font-weight: 300;
  line-height: 24px;
}
