.form__message {
  .no_indent();
  text-align: center;
}

.form__achievements {
  .no_indent();
  border: none;

  &--gray {
    background-color: #f2f2f2;
  }
}

.form__legend {
  .no_indent();
  color: #d22856;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
}


.form__list {
  .no_list_style();
}

.form__description {
  .no_indent();
  color: #d22856;
  text-transform: uppercase;
}

.form__checks {
  font-size: 18px;
}

.form__button {
  .no_button_style();
  background-color: #2aab6d;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.form__directive {
  text-align: center;
  text-transform: uppercase;

  & span {
    color: #d22856;
  }
}
