.form {
  display: grid;
  padding: 50px 0 25px;

  @media @tablet-width {
    padding: 100px 20px 50px;
    row-gap: 70px;
  }

  @media @desktop-width {
    grid-template-columns: repeat(2, 1fr);
    gap: 69px 74px;
    width: 940px;
    margin: 0 auto;
    padding: 100px 0 0 0;
  }
}

.form__message {
  .no_indent();
  margin: 0 20px 50px;
  order: -10;
  text-align: center;

  @media @tablet-width {
    margin: 0 55px 0;
    font-size: 18px;
  }

  @media @desktop-width {
    grid-column: span 2;
    margin: 0 55px 20px;
    font-size: 18px;
  }

  &--hidden {
    display: none;

    @media @tablet-width {
      display: inline;
    }
  }
}

.form__list {
  .no_list_style();
  display: grid;

  &--contacts {
    @media @tablet-width {
      row-gap: 40px;
    }

    @media @desktop-width {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 74px;
    }
  }

  &--name {
    // padding: 0 20px;
    row-gap: 29px;
  }

  &--achieves {
    row-gap: 47px;

    @media @tablet-width {
      order: 3;
    }

    @media @desktop-width {
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      grid-auto-flow: column;
      column-gap: 23px;
    }
  }

  &--apps {
    row-gap: 38px;

    @media @tablet-width {
      order: -3;
    }

    @media @desktop-width {
      padding-left: 54px;
    }
  }
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    flex-direction: row;
    align-items: center;
  }

  &--contacts {
    flex-direction: column-reverse;
    align-items: flex-start;

    &::before {
      @media @tablet-width {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 59px;
        height: 59px;
        background-color: #e5e5e5;
      }
    }
  }

  &--mail {
    &::before {
      @media @tablet-width {
        background-image: url("../img/svg/icons/mail-icon.svg");
      }
    }
  }

  &--phone {
    &::before {
      @media @tablet-width {
        background-image: url("../img/svg/icons/phone-icon.svg");
      }
    }
  }
}

.form__description {
  .no_indent();
  display: block;
  margin-left: 23px;
  color: #d22856;
  text-transform: uppercase;

  @media @tablet-width {
    margin-left: 0;
    margin-right: 20px;
  }

  &--contacts {
    margin: 15px 0 0 15px;
  }
}

.form__input {
  width: 100%;
  padding: 20px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: inherit;
  }

  &--contacts {
    padding-right: 60px;
  }
}

.form__field {
  .no_indent();
  border: none;

  @media @tablet-width {
    border: 2px solid #e5e5e5;
  }

  &--gray {
    background-color: #f2f2f2;

    @media @tablet-width {
      background-color: #ffffff;
    }
  }

  &--name {
    padding: 0 20px;
    order: -5;

    @media @tablet-width {
      padding: 0;
      border: none;
    }
  }

  &--achieves {
    padding: 100px 20px 44px;

    @media @tablet-width {
      padding: 54px 60px 50px;
      order: 3;
    }

    @media @desktop-width {
      grid-column: span 2;
    }
  }

  &--contacts {
    padding: 42px 20px 44px;

    @media @tablet-width {
      padding: 47px 60px 37px 60px;
    }

    @media @desktop-width {
      grid-column: span 2;
    }
  }

  &--apps {
    padding: 100px 20px 44px;

    @media @tablet-width {
      padding: 60px 54px;
      order: -3;
    }

    @media @desktop-width {
      padding: 52px 20px;
    }
  }

  &--emotions {
    padding: 74px 20px 52px;
    order: 5;

    @media @tablet-width {
      padding: 47px 60px 53px;
    }

    @media @desktop-width {
      grid-column: span 2;
      padding: 45px 60px;
    }
  }
}

.form__legend {
  .no_indent();
  color: #d22856;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;

  @media @tablet-width {
    padding: 0 25px;
  }

  &--contacts {
    position: absolute;
    color: transparent;

    @media @tablet-width {
      position: static;
      color: #d22856;
    }
  }

  &--achieves {
    padding: 0 20px 0;
    transform: translateY(50px);

    @media @tablet-width {
      transform: none;
    }
  }

  &--apps {
    padding: 0 20px 0;
    transform: translateY(50px);

    @media @tablet-width {
      transform: none;
    }
  }

  &--emotions {
    transform: translateY(42px);

    @media @tablet-width {
      transform: none;
    }
  }
}

.form__checks {
  position: relative;
  padding-left: 57px;
  font-size: 18px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  &--apps {
    &::before {
      border-radius: 50%;
    }
  }
}

.form__check-item:checked + .form__mark {
  position: absolute;
  top: 3px;
  left: 13px;
  width: 10px;
  height: 22px;
  border-right: 2px solid #d22856;
  border-bottom: 2px solid #d22856;
  transform: rotate(45deg);
}

.form__check-item:checked + .form__point {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
  border: none;

  @media @tablet-width {
    top: 10px;
  }
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  order: 10;
  padding: 0 20px;

  @media @tablet-width {
    flex-direction: row;
    align-items: center;
    padding: 0 0 50px 0;
  }

  @media @desktop-width {
    grid-column: span 2;
    padding: 0;
  }
}

.form__button {
  .no_button_style();
  padding: 20px;
  background-color: #2aab6d;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;

  @media @tablet-width {
    margin-right: auto;
    padding: 20px 55px;
  }
}

.form__directive {
  .no_indent();
  margin-top: 45px;
  text-align: center;
  text-transform: uppercase;

  &--hidden {
    display: none;
    font-weight: inherit;

    @media @desktop-width {
      display: inline;
    }
  }

  @media @tablet-width {
    margin: 0;
  }

  & span {
    color: #d22856;
  }
}
