.like {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

.like__label {
  width: 13px;
  height: 12px;

  @media @tablet-width {
    order: 2;
  }
}

.like__button {
  cursor: pointer;
}

.like__heart {
  display: block;

  &--best {
    @media @tablet-width {
      // margin-right: 30px;
    }
  }
}

.like__text {
  margin-left: 18px;

  @media @tablet-width {
    margin: 0;
  }
}

.like__count {
  @media @tablet-width {
    margin-right: auto;
  }

  &--best {
    @media @tablet-width {
      margin-right: 15px;
    }
  }
}
