.page-header {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media @desktop-width {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
  }
}

.page-header__logo {
  .no_link_style();
  position: relative;
  z-index: 3;
  align-self: flex-start;
  padding: 23px 20px;

  @media @tablet-width {
    padding: 27px 20px 42px 20px;
  }

  @media @desktop-width {
    padding: 27px 20px 42px 0;
  }

  & img {
    .no_link_style();
    display: block;
  }
}
