.page-header {
  position: absolute;
  width: 100%;
  min-width: 320px;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media @desktop-width {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
  }
}

.page-header__logo {
  .no_link_style();
  position: relative;
  z-index: 3;
  align-self: flex-start;
  padding: 23px 20px;

  @media @tablet-width {
    padding: 27px 20px 42px 20px;
  }

  @media @desktop-width {
    padding: 27px 20px 42px 0;
    margin-right: 30px;
  }
}

.page-header__svg-logo {
  &--mobile {
    display: block;

    @media @tablet-width {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media @tablet-width {
      display: block;
    }

    @media @desktop-width {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media @desktop-width {
      display: block;
    }
  }

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}
