.photoeditor {
  background-color: #f2f2f2;
}

.photoeditor__title {
  .no_indent();
  background-color: #ffffff;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
}

.photoeditor__button {
  .no_button_style();
}
