.photo {
  position: relative;

  &--best {
    ::after {
      content: "панорама дня";
      position: absolute;
      top: 0;
      right: 20px;
      display: inline-block;
      padding: 5px 20px;
      background-color: #d22856;
      text-align: center;
      color: #ffffff;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;

      @media @tablet-width {
        top: 59px;
      }

      @media @desktop-width {
        top: 54px;
        right: 130px;
      }
    }
  }
}

.photo__pic {
  display: block;
  width: 100%;
  height: auto;
}

.photo__post {
  padding: 18px 5px 19px 17px;
  background-color: #f2f2f2;

  @media @tablet-width {
    padding: 25px 30px 23px 30px;
  }
}

.photo__author {
  .no_indent();
  font-weight: 700;
  line-height: 24px;
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__text {
  .no_indent();
  margin-bottom: 11px;
  line-height: 24px;

  &--best {
    @media @tablet-width {
      margin-bottom: 0;
      order: 2;
    }
  }
}

.photo__like {
  @media @tablet-width {
    margin-top: auto;
  }
}
