.tariff {
  background-color: @light-gray;
}

.tariff__info {
  border-collapse: collapse;
  text-transform: uppercase;
}

.tariff__item {
  color: @white;
  text-align: center;
  background-color: @dark-blue;
  border: 2px solid @light-gray;

  &--hidden {
    //visibility: hidden;
    border: none;
    background-color: transparent;
  }
}

.tariff__name {
  font-weight: 700;
  font-size: 16px;
}

.tariff__price {
  font-weight: 300;
  font-size: 18px;
}

.tariff__one {
  background-color: @white;
  border: 2px solid @light-gray;
}
