.tariff {
  background: linear-gradient(-5deg, #f2f2f2 0% 95%, #ffffff 95% 100%);

  @media @tablet-width {
    background: linear-gradient(-5deg, #f2f2f2 0% 89%, #ffffff 89% 100%);
  }

  @media @desktop-width {
    background: linear-gradient(-5deg, #f2f2f2 0% 84%, #ffffff 84% 100%);
  }
}

.tariff__wrapper {
  position: relative;
  padding: 99px 0 100px;
  overflow-x: hidden;

  @media @tablet-width {
    padding: 92px 20px 70px;
  }

  @media @desktop-width {
    width: 940px;
    margin: 0 auto;
    padding: 146px 0 91px;
  }
}

.tariff__info {
  // margin-left: 20px; /* --первый слайд*/
  margin-left: calc(-100% + 60px); /* --второй слайд*/
  // margin-left: calc(-200% + 100px); /* --третий слайд*/
  table-layout: fixed;
  width: calc(300% - 120px);
  border-collapse: collapse;
  text-transform: uppercase;

  @media @tablet-width {
    margin: 0;
    width: 100%;
  }
}

.tariff__item {
  position: relative;
  padding: 13px;
  color: #ffffff;
  text-align: center;
  background-color: #283645;
  border: 2px solid #e5e5e5;

  @media @tablet-width {
    padding: 10px;
  }

  @media @desktop-width {
    padding: 19px;
  }

  &--hidden {
    display: none;

    @media @tablet-width {
      display: table-cell;
      background-color: transparent;
      border: none;
    }
  }

  &--hit {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 74px;
      background: linear-gradient(-45deg, transparent 0 51%, #d22856 51% 72%, transparent 72% 100%);

      @media @tablet-width {
        background: linear-gradient(-45deg, transparent 0 61%, #d22856 61% 78%, transparent 78% 100%);
      }

      @media @desktop-width {
        background: linear-gradient(-45deg, transparent 0 51%, #d22856 51% 72%, transparent 72% 100%);
      }
    }

    &::after {
      content: "хит";
      position: absolute;
      top: 15px;
      left: 13px;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      transform: rotate(-45deg);

      @media @tablet-width {
        top: 10px;
        left: 8px;
      }

      @media @desktop-width {
        top: 15px;
        left: 13px;
      }
    }
  }
}

.tariff__name {
  display: block;
  font-weight: 700;
  font-size: 16px;

  @media @desktop-width {
    font-size: 18px;
  }
}

.tariff__price {
  margin-bottom: 12px;
  display: block;
  font-weight: 300;
  font-size: 18px;

  @media @tablet-width {
    margin: 0;
  }

  @media @desktop-width {
    font-size: 24px;
  }
}

.tariff__one {
  position: relative;
  padding: 14px 60px 14px 20px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;

  @media @tablet-width {
    padding: 5px 10px 3px 13px;
  }

  @media @desktop-width {
    padding: 10px 10px 13px 19px;
    font-size: 18px;
  }

  &--empty {
    display: none;

    @media @tablet-width {
      display: table-cell;
      text-transform: none;
    }
  }
}

.tariff__hidden-name {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    @media @tablet-width {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &--yes {
    &::before {
      width: 31px;
      height: 21px;
      background-image: url("../img/svg/icon-true.svg");
    }
  }

  &--no {
    &::before {
      width: 27px;
      height: 27px;
      background-image: url("../img/svg/icon-false.svg");
    }
  }

  @media @tablet-width {
    font-size: 0;
  }
}

.tariff__toggles {
  .no_indent();
  position: absolute;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);

  @media @tablet-width {
    display: none;
  }
}
